
.login {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.login-background {
    background-image: url("../../public/images/bg-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: calc(100% - 520px);
    position: relative;
}

.login-background:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(93,197,203);
    background: -moz-linear-gradient(0deg, rgba(93,197,203,1) 0%, rgba(169,169,185,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(93,197,203,1) 0%, rgba(169,169,185,1) 100%);
    background: linear-gradient(0deg, rgba(93,197,203,1) 0%, rgba(169,169,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5dc5cb",endColorstr="#a9a9b9",GradientType=1);
    opacity: 0.8;
}


.login-box {
    width: 520px;
    min-height: 100vh;
    background-color: white;
}

.login-content-wrap {
    margin: 20px 40px;
}

.login-logo-box {
    font-family: Poppins-Bold;
    width: 200px;
    height: 150px;
    padding-top: 50px;
    font-size: 50px;
}

.login-input-group {
    width: 100%;
    margin: 20px 0;
}

.login-input-field {
    width: 100%;
    height: 35px;
    font-size: 24px;
    border: none;
}

.login-input-label {
    font-family: Poppins-Bold;
    font-size: 24px;
    transform: translateY(7px);
}

.input-line {
    border: none;
    height: 2px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.input-line:after {
    content: '';
    border: none;
    position: absolute;
    height: 100%;
    width: 0;
    transition: 0.4s;
    background: rgb(93,197,203);
    background: -moz-linear-gradient(0deg, rgba(93,197,203,1) 0%, rgba(169,169,185,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(93,197,203,1) 0%, rgba(169,169,185,1) 100%);
    background: linear-gradient(0deg, rgba(93,197,203,1) 0%, rgba(169,169,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5dc5cb",endColorstr="#a9a9b9",GradientType=1);
}

.login-input-field:focus + .input-line:after {
    width: 100%;
}

.error-handler {
    min-height: 30px;
    font-size: 18pt;
    color: red;
}

.login-button {
    font-size: 30px;
    background: white;
    padding: 5px 0;
    margin-top: 20px;
    width: 100%;
    border-radius: 45px;
    border: 1px solid gray;
    transition: 0.3s;
    position: relative;
}

.login-button:hover {
    background: rgb(93,197,203);
    color: white;
}

.underbutton-link {
    font-size: 14pt;
    margin-top: 10px;
}
