/*//////////////////////////////////////////////////////////
///////////////////////[ FONTS ]////////////////////////////
//////////////////////////////////////////////////////////*/

/*///[ Poppins ]///*/
@font-face {
    font-family: Poppins-Light;
    src: url("public/fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("public/fonts/Poppins/Poppins-Medium.ttf");
}

/*//////////////////////////////////////////////////////////
////////////////////////[ Util ]////////////////////////////
//////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins-Light';
}

li {
    list-style-type: none;
}

/*//////////////////////////////////////////////////////////
////////////////////////[ Login ]///////////////////////////
//////////////////////////////////////////////////////////*/

.login-container {
    display: flex;
}

.login-box {
    min-width: 500px;
    min-height: 100vh;
    background-color: lightgray;
    margin: 0 0 0 auto;
}

.login-logo-box {
    margin: 20px 40px;
    width: 200px;
    height: 150px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.login-input-group {
    width: 420px;
    height: 80px;
    background: lightgray;
    margin: 20px 40px;
}

.login-input-field {
    width: 100%;
    height: 35px;
    font-size: 20px;
}

.login-input-label {
    font-size: 24px;
}

.login-button {
    width: 100%;
    height: 50px;
    font-size: 34px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*//////////////////////////////////////////////////////////
/////////////////[ Organization Creation ]//////////////////
//////////////////////////////////////////////////////////*/

.organization-container {
    display: flex;
}

.organization-box {
    min-width: 1500px;
    height: 100vh;
    margin: 0 auto;
    /*background-color: red;*/
}

.organization-input-box {
    width: 1500px;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.organization-input-wrap {
    padding-top: 40px;
    width: 500px;
    display: flex;
    justify-content: center;
}

.organization-input-box input {
    width: 100%;
    height: 30px;
}

.organization-input-box label {
    width: 100%;
    height: 30px;
    font-size: 24px;
}

.organization-plan-cards-wrap {
    width: 100%;
    height: 600px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
}

.organization-plan-card {
    margin: 75px 30px 35px 30px;
    width: 400px;
    height: 500px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.plan-header {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
 }

.plan-button {
    width: 100%;
    height: 50px;
    /*background-color: red;*/
}

.plan-button button {
    width: 100%;
    height: 50px;
    background-color: lightblue;
}



.organization-enroll-box {
    width: 100%;
    height: 90px;
    background-color: lightgray;
}



/*//////////////////////////////////////////////////////////
//////////////////////[ Application ]///////////////////////
//////////////////////////////////////////////////////////*/

.background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: lightyellow;
}

/*///////////////////////[ Header ]///////////////////////*/

header {
    min-width: 1280px;
    height: 100px;
    background: lightgray;
    display: flex;
    position: relative;
    justify-content: center;
    box-shadow: 0 0 5px 0 gray;
    z-index: 100;

}

.header-content {
    max-width: 1920px;
    height: 100%;
    width: 100%;
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-block {
    height: 90px;
    width: 300px;
    background: lightblue;
}

.user-block {
    height: 90px;
    width: 300px;
    background: lightblue;
}

/*///////////////////////[ Navbar ]///////////////////////*/

.navbar-wrap {
    width: 18%;
    background: lightgray;
    color: black;
    display: flex;
    position: relative;
    flex-direction: column;
    box-shadow: 3px 0 5px 0 gray;
    z-index: 99;
}

.link-wrap {
    text-decoration: none;
    color: white;
}

.link-wrap:hover {
    color: black;
}

.navbar-btn {
    display: flex;
    font-size: 30px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    background: gray;
    transition: 0.2s;
}

.navbar-btn:hover {
    background: #afafaf;
}


.navbar-btn-more {
    height: 50px;
    font-size: 20px;
}
/*//////////////////[ Organization List ]/////////////////*/

.list-container {
    display: flex;
    background: gray;
    width: 75%;
    flex-direction: column;
}

.list-container a {
    text-decoration: none;
    color: black;
}

.list-wrap {
    margin: 40px auto;
    width: 80%;
    height: 200px;
    background: white;
}

.company-name-block {
    width: 100%;
    height: 55px;
    /*background: red;*/
    text-align: center;
    font-size: 35px;
}

.company-info-block {
    display: flex;
    background: lightblue;
    height: 145px;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 20px;
}

.company-info-text {
    margin: 15px 30px;
}

.company-creation-box {
    background: lightblue;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.company-creation-box * {
    align-self: flex-start;
    margin: 0 auto;
}

.company-creation-box input {
    margin-top: 50px;
    height: 30px;
    width: 90%;
    font-size: 20px;
}

.company-creation-box select {
    height: 30px;
    width: 30%;
    font-size: 20px;
    margin: 20px 0 0 15px;
}

.temp {
    color: black;
}
/*/////////////////////[ Container ]//////////////////////*/

.container {
    display: flex;
    /*justify-content: center;*/
    /*min-width: 1480px;*/
    /*max-width: 1480px;*/
    width: 1480px;
    background: lightblue;
    margin: 0 auto;
    min-height: 1000px;
    z-index: 98;
}

.content-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 50px;
    font-size: 30px;
    background: lightblue;
    width: 82%;
}

.content-wrap h1 {
    width: 100%;
    text-align: center;
}

.btn-group-label {
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    transform: translateX(-20px);
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*align-content: flex-start;*/
    width: 600px;
    margin: 0 0 15px 0;
    /*background: whitesmoke;*/
    /*margin: 30px;*/
}

.more-btn {
    display: flex;
    width: 100%;
    height: 50px;
    border: none;
    background: none;
    margin: 10px 0 10px 0;
    /*background: blue;*/
    transition: 0.3s;
    text-decoration: none;
}

.more-btn:hover {
    background: #CEEAEA;
}

.icon-box {
    background: red;
    height: 50px;
    width: 50px;
}

.more-name-box {
    text-align: left;
    width: 450px;
    margin-left: 20px;
    color: black;
    font-size: 26px;
}