

body {
    background: rgb(93,197,203);
    background: -moz-linear-gradient(180deg, rgba(93,197,203,1) 0%, rgba(169,169,185,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(93,197,203,1) 0%, rgba(169,169,185,1) 100%);
    background: linear-gradient(180deg, rgba(93,197,203,1) 0%, rgba(169,169,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5dc5cb",endColorstr="#a9a9b9",GradientType=1);
    width: 100%;
    background-attachment: fixed;
    height: auto;
}

.organization-background {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.organization-container {
    background: white;
    border-radius: 30px;
    max-width: 1300px;
    box-shadow: 0 0 3px 0 lightgrey;
}

.organization-box {
    margin: 30px;
}

.logout-wrap {
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
}

.logout-btn {
    background: white;
    border: 1px solid gray;
    border-radius: 30px;
    width: 100px;
    height: 35px;
    font-size: 14pt;
    transition: 0.3s;
}

.logout-btn:hover {
    background: lightblue;
    border: 1px solid lightblue;
}

.organization-input-box {
    height: 100px;
    display: flex;
    justify-content: center;
}

.organization-input-wrap {
    width: 30%;
}

.organization-input-field {
    width: 100%;
    height: 35px;
    font-size: 24px;
    border: none;
}

.organization-input-label {
    width: 100%;
    height: 30px;
    font-size: 20px;
    transform: translateY(7px);
}

.organization-input-wrap .input-line {
    height: 2px;
}

.organization-input-field:focus + .input-line:after {
    width: 100%;
}

.organization-plan-cards-wrap {
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.organization-plan-card {
    margin: 45px 30px 35px 30px;
    max-width: 400px;
    height: 500px;
    flex: 1 1 400px;
    box-shadow: 0 0 5px 0 gray;
    border-radius: 5px;
    background-color: #fafafa;
    transition: 0.5s;
}

.organization-plan-card:hover {
    transform: translateY(-30px);
    box-shadow: 0 0 10px 3px gray;
}

.organization-plan-card-content {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plan-header {
    text-align: center;
}

.plan-header h2 {
    font-size: 22pt;
}

.plan-body {
    text-align: center;
    margin-top: -50px;
    font-size: 16pt;
}

.plan-button {
    font-size: 16pt;
    height: 50px;
    background: white;
    border: 1px solid gray;
    border-radius: 30px;
    transition: 0.3s;
}

.plan-button:hover {
    background: rgb(93,197,203);
    color: white;
}

@media (max-width: 1440px) {
    .organization-container {
        max-width: 1000px;
        height: 1400px;
    }
}

@media (max-width: 980px) {
    .organization-input-wrap {
        margin-top: 20px;
        width: 50%;
    }
    .organization-container {
        max-width: 700px;
        height: 1950px;
    }
}