.orglist-container {
    display: flex;
    background: white;
    width: 100%;
    flex-direction: column;
}

.orglist-container hr {
    width: 90%;
    margin: 0 auto;
}


.orglist-company-list {
    max-height: 500px;
    margin: 40px;
    overflow: auto;
}

.orglist-item {
    --company-info-block-width: calc(100% - 150px);
    margin: 50px auto 60px auto;
    width: 80%;
    height: 125px;
    min-height: 125px;
    box-shadow: 0 0 2px 0 gray;
}

.orglist-item-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
    overflow: hidden;
}

.orglist-item-background {
    position: absolute;
    z-index: 3;
    width: 300%;
    height: 100%;
    background: lightblue;
    left: -100%;
    transition: 0.7s;
}

.orglist-item:hover .orglist-item-background {
    left: 0;
}

.orglist-item-content {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: flex-end;
}

.orglist-item-content-open {
    position: absolute;
    height: 100%;
    min-width: 150px;
    left: -150px;
    background: rgba(0,0,0, 0.6);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orglist-item-content-open h1 {
    font-size: 22pt;
    text-align: center;
    color: white;
}

.orglist-item:hover .orglist-item-content-open {
    left: 0;
}

.orglist-item-company-info {
    width: 100%;
    transition: all 0.5s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orglist-item:hover .orglist-item-company-info {
    width: var(--company-info-block-width);
}

.orglist-item-company-info :is(h1,p,span) {
    width: var(--company-info-block-width);
    margin: 0 auto;
    color: rgb(55,55,55);
}

.orglist-item-company-info h1 {
    font-size: 18pt;
    font-family: Poppins-Bold;
    margin-top: 10px;
}

.orglist-item-company-info p {
    margin-bottom: 20px;
    font-size: 14pt;
}

/*///////////////////[ Create Company ]///////////////////*/

.orglist-company-creation-wrap {
    background: white;
    width: 100%;
}

.orglist-company-creation-wrap > h3 {
    margin-top: 20px;
    text-align: center;
    font-family: Poppins-Bold;
}

.orglist-company-creation-box {
    margin: 20px;
    min-height: 205px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.orglist-company-inputselect-wrap {
    flex: 1 1 300px;
    margin: 5px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orglist-company-plan-info {
    flex: 1 1 300px;
    margin: 20px;
    width: 40%;
    display: flex;
    justify-content: center;
}

.orglist-company-create-handler {
    flex: 1 1 300px;
    margin: 5px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

/*///////////////////[ Input Select ]/////////////////////*/

/*///////////////////////[ Input ]////////////////////////*/

.orglist-company-inputselect-wrap label {
    width: 100%;
    height: 30px;
    font-size: 16pt;
}

.orglist-company-inputselect-wrap * {
    margin: 0 auto;
}

.orglist-company-input-wrap {
    font-size: 16pt;
    width: 90%;
    /*margin-top: 20px;*/
}

.orglist-company-input-field {
    width: 100%;
    height: 35px;
    border: none;
    /*background: whitesmoke;*/
}

.orglist-company-input-wrap .input-line {
    height: 2px;
}

.orglist-company-input-field:focus + .input-line:after {
    width: 100%;
}


/*///////////////////////[ Select ]///////////////////////*/


.orglist-company-select-wrap {
    margin-top: 40px;
    /*background: red;*/
    width: 90%;
}


.orglist-company-select-field {
    width: 100%;
    font-size: 20px;
    transition: 0.3s;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
}

.orglist-company-select-field:hover {
    background: lightblue;
}

.orglist-company-select-field:focus {
    background: lightblue;
}


/*/////////////////////[ Plan Info ]//////////////////////*/

.orglist-company-plan-info-data {
    text-align: center;
}

.orglist-company-plan-info-data :is(h2,h3) {
    margin-top: 0;
    font-size: 20pt;
}

.orglist-company-plan-info-data span {
    font-size: 14pt;
}

/*///////////////////[ Create Handler ]///////////////////*/

.orglist-company-create-handler * {
    margin: 0 auto;
}

.orglist-company-create-btn {
    outline: none;
    font-size: 16pt;
    background: white;
    margin-top: 50px;
    width: 250px;
    height: 50px;
    border-radius: 45px;
    border: 1px solid gray;
    transition: 0.3s;
    position: relative;
}

.orglist-company-create-btn:hover {
    background: lightblue;
    font-size: 18pt;
}


.orglist-company-creation-box .error-handler {
    margin-top: 10px;
    font-size: 14pt;
    text-align: center;
}


.orglist-user-block {
    display: none;
    text-align: center;
    margin-right: 5px;
    font-size: 14pt;
}

.orglist-logout-btn {
    text-decoration: underline;
    color: #007bff;
}

@media (max-width: 991px) {
    .orglist-user-block {
        display: block;
    }
}

@media (max-width: 550px) {
    .orglist-item-company-info h1 {
        width: auto;
    }

    .orglist-item-company-info p {
        display: none;
    }
}

