.billing-wrap {
    width: inherit;
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.billing-inventory-table-wrap {
    max-width: 500px;
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    width: inherit;
}

.billing-cart-wrap {
    width: inherit;
}

.billing-inventory-table-wrap > .search-mobile {
    display: flex;
}

.billing-cart-wrap {
    max-width: 500px;
    flex: 1 1 500px;
    /*height: 50px;*/
}

.billing-cart-error {
    font-size: 16pt;
    color: red;
}

.billing-table-button button {
    background: transparent;
    border: none;
}

.billing-table-button img {
    width: 30px;
}

.billing-cart-wrap > .table-wrap {
    max-height: calc(70vh + 127px);
}

.billing-total-price {
    margin-top: 30px;
}

.billing-checkout-btn {
    margin-top: 0;
}

@media (max-width: 1200px) {

    .billing-cart-wrap > .table-wrap {
        max-height: 200px;
    }

    .billing-inventory-table-wrap {
        max-width: 100%;
    }
    .billing-cart-wrap > .table-wrap {
        margin-top: 0;
    }
}


