.table-products th:nth-child(1) {
    width: 12%;
}
.table-products th:nth-child(2) {
    width: 45%;
}
.table-products th:nth-child(3) {
    width: 18%;
}
.table-products th:nth-child(4) {
    width: 18%;
}

.table-products th:nth-child(5) {
    width: 7%;
}