.table-products th:nth-child(1) {
    width: 12%;
}
.table-products th:nth-child(2) {
    width: 40%;
}
.table-products th:nth-child(3) {
    width: 20%;
}
.table-products th:nth-child(4) {
    width: 18%;
}

.table-products th:nth-child(5) {
    width: 7%;
}

.table-products td:nth-child(5) {
    display: flex;
    gap: 5px;
}